html{
    margin: 0%;
    padding: 0%;
    height: 100%;
}
body{
    height: 100%;
}
textarea {
    height: 10em;
    width: 100%;
    resize: none;
}
footer{
    width: 100%;
    bottom: 0;
    position: absolute;
}
#wrapper{
    min-height: 100%;
    position: relative;
}
#content{
    padding-bottom: 81px;
}
.navbar-toggler:focus{
    border: none !important;
    box-shadow: none !important;
}
.carousel-inner{
    height: 250px;
    /*position: relative;*/
}
.carousel-caption{
    width: 100%;
    /*position: absolute;*/
    justify-content: center;
    align-items: center;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}
.cardDiv{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}
.inputDiv{
    margin: 3%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.marginF{
    margin: 1%;
}
footer{
    background-color: #f0edee;;
    display: flex;
    align-items: baseline;
}
.br{
    margin: 5%;
}
.formContact{
    display: flex; 
    justify-content: center;
}

