html{
    margin: 0%;
    padding: 0%;
    min-height: 100%;
}
.carousel-inner{
    height: 250px;
    /*position: relative;*/
}
.carousel-caption{
    width: 100%;
    /*position: absolute;*/
    justify-content: center;
    align-items: center;
}
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}
.cardDiv{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}
.inputDiv{
    margin: 3%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.marginF{
    margin: 1%;
}
footer{
    background-color: antiquewhite;
    display: flex;
    align-items: baseline;
}
.br{
    margin: 5%;
}
.formContact{
    display: flex; 
    justify-content: center;
}

